.footer-site {
    display: flex;
    flex-direction: column;   
    justify-content: flex-end;
    font-size: 14px;
    padding: 16px;
    gap: 16px;
    border-top: 1px solid $footer-border;
    
    @media (min-width: ($screen-md)) {
        flex-direction: row;
		justify-content: space-between;	
    }

    &__item {
        text-align: center;
        
        @media (min-width: ($screen-md)) {
            width: 30%;
        }

        &:first-child {
            @media (min-width: ($screen-md)) {
                text-align: left;
            }            
        }

        &:last-child {            
            @media (min-width: ($screen-md)) {
                text-align: right;
            } 
        }
    }       
}